* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #fff;
}

.wrapper {
	height: 100%;
}

.container {
	text-align: center;
}

.header {
	background-color: red;
	padding: 20px;
	font-size: xx-large;
	font-weight: bold;
}

.nav-area {
	background-color: #7f7f7f;
	padding: 0px 2.5%;
	font-size: larger;
	position: sticky;
	top: 0;
	z-index: 1;
}

.nav-area ul li a {
	padding: 10px;
	display: block;
}

.nav-area ul li a:hover {
	background-color: #262626;
}

.nav-area ul li {
	display: inline-block;
	padding: 0;
	text-align: center;
}

.nav-area ul {
	list-style: none;
}

.dropdown-menu {
	position: relative;
	width: 150px;
}

.dropdown-menu ul {
	top: 43px;
	width: 150px;
	position: absolute;
}

.dropdown-menu ul li {
	display: none;
	padding: 0;
}

.dropdown-menu ul li a {
	color: #6d96c3;
	background-color: #f5f5f5;
	display: block;
	text-align: left;
}

.dropdown-menu ul li a:hover {
	background-color: #d6d6d6;
}

.nav-area ul li:hover ul li {
	display: block;
	position: relative;
}

.graph-container {
	height: 530px;
	width: 100%;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}

.bar-graph-container {
	height: 60%;
	width: 50%;
	position: absolute;
	display: flex;
	justify-content: center;
	background-color: #fcfcfc;
	/* border: 0.1px solid black; */
	/* border: 0.1px solid #fbfbfb; */
	/* align-items: center; */
}

.data-container {
	height: 80%;
	width: 75%;
	position: absolute;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.graph-label {
	width: 100%;
	height: 20%;
	display: flex;
	position: absolute;
	bottom: 0px;
	justify-content: center;
	align-items: center;
}

.bar-container {
	height: 96%;
	width: 20%;
	margin: 10px;
	margin-bottom: 0;
}

.bar {
	height: 90%;
	width: 50%;
	margin: 0 25%;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.bar-label {
	width: 100%;
	height: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.content {
	width: 100%;
	/* height: 20%; */
	/* content: attr(data-percentage); */
	background-color: #d1ccc6;
	display: flex;
	align-items: end;
	position: absolute;
	bottom: 0;
}

.bar-container .bar .content-one {
	animation: show-bar-one 1.2s 0.2s forwards;
}

.bar-container .bar .content-two {
	animation: show-bar-two 1.2s 0.2s forwards;
}

.bar-container .bar .content-three {
	animation: show-bar-three 1.2s 0.2s forwards;
}

@keyframes show-bar-one {
	0% {
		height: 0%;
	}

	100% {
		height: 30%;
	}
}

@keyframes show-bar-two {
	0% {
		height: 0%;
	}

	100% {
		height: 40%;
	}
}

@keyframes show-bar-three {
	0% {
		height: 0%;
	}

	100% {
		height: 80%;
	}
}
